.block {
  width: 60px;
  height: 60px;
  transform-style: preserve-3d;
  position: absolute;
  transform: translateZ(1px);
  transition: all 0.3s cubic-bezier(0.21, 0.93, 0.33, 0.91);

  // 102px プラス
  &:nth-of-type(1) {
    top: 20px;
    left: 20px;
  }

  &:nth-of-type(2) {
    top: 20px;
    left: 122px;
  }

  &:nth-of-type(3) {
    top: 20px;
    left: 224px;
  }

  &:nth-of-type(4) {
    top: 20px;
    left: 326px;
  }

  &:nth-of-type(5) {
    top: 20px;
    left: 428px;
  }

  &:nth-of-type(6) {
    bottom: 20px;
    left: 20px;
  }

  &:nth-of-type(7) {
    bottom: 20px;
    left: 122px;
  }

  &:nth-of-type(8) {
    bottom: 20px;
    left: 224px;
  }

  &:nth-of-type(9) {
    bottom: 20px;
    left: 326px;
  }

  &:nth-of-type(10) {
    bottom: 20px;
    left: 428px;
  }

  &__white {
    div {
      background: rgba($color: #ffffff, $alpha: 1);
      border: solid 1px #000;
    }
  }

  &__black {
    div {
      background: rgba($color: #000000, $alpha: 1);
      border: solid 1px #fff;
    }
  }

  div {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(1) {
      transform: translateZ(60px);
    }

    &:nth-child(2) {
      transform: rotateX(-90deg) translateZ(30px) translateY(-30px);
    }

    &:nth-child(3) {
      transform: rotateY(90deg) translateZ(30px) translateX(-30px);
    }

    &:nth-child(4) {
      transform: rotateY(-90deg) translateZ(30px) translateX(30px);
    }

    &:nth-child(5) {
      transform: rotateX(90deg) translateZ(30px) translateY(30px);
    }

    &:nth-child(6) {
      transform: rotateY(180deg) translateZ(30px) translateY(-30px);
    }
  }

  span {
    position: absolute;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-top: 16px solid rgb(255, 100, 205);

    &:nth-of-type(1) {
      top: 70px;
      left: 14px;
    }

    &:nth-of-type(2) {
      top: 60px;
      left: 60px;
      transform: rotate(-45deg);
    }

    &:nth-of-type(3) {
      top: 14px;
      left: 70px;
      transform: rotate(-90deg);
    }

    &:nth-of-type(4) {
      top: -30px;
      left: 60px;
      transform: rotate(-135deg);
    }

    &:nth-of-type(5) {
      top: -44px;
      left: 14px;
      transform: rotate(-180deg);
    }

    &:nth-of-type(6) {
      top: -30px;
      left: -30px;
      transform: rotate(-225deg);
    }

    &:nth-of-type(7) {
      top: 14px;
      left: -40px;
      transform: rotate(-270deg);
    }

    &:nth-of-type(8) {
      top: 60px;
      left: -30px;
      transform: rotate(-315deg);
    }
  }

  .arrow {
    display: none;
  }
}
