input:focus {
  outline: 0;
}

#camera-horizontal {
  position: absolute;
  bottom: 4%;
  left: 50%;
  width: 70%;
  z-index: 1;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.5s cubic-bezier(0.86, -0.02, 0.08, 1.02) 0.22s;

  &.start--game {
    transform: translate(-50%, -50%) scale(1);
  }
}
