@import "./block/block";
@import "./sheet/sheet";
@import "./range/range";
@import "./animation/animationTop";
@import "./animation//animationWinner";

div {
  transform-style: preserve-3d;
  user-select: none;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family: "ヒラギノ丸ゴ Pro W4", "ヒラギノ丸ゴ Pro",
    "Hiragino Maru Gothic Pro", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "HG丸ｺﾞｼｯｸM-PRO", "HGMaruGothicMPRO";
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.86, -0.02, 0.08, 1.02) 0.22s;

  &.start--game {
    transform: scale(1);
  }
}
